<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicos</title>
    <link rel="stylesheet" href="../../../static/css/RegistroMedicos.css">
</head>
<body>
<div class="header">
<div class="logo">
    <img src="/images/logo.jpg" alt="Logo">
    <h3>Medical Appointments</h3>
</div>
<div class="contact">
    📞 +506 5467 0937
</div>
<div class="nav-links">
    <a href="/about">About</a>
    <a href="/home">Home</a>
</div>
</div>

<div class="centered">
    <header><h2>Medicos</h2></header>
    <form action="/registro/medicos/guardar" method="post" th:object="${medico}">
        <label for="usuario">Usuario:</label>
        <select id="usuario" th:field="*{usuario}">
            <option th:each="user : ${usuarios}"
                    th:value="${user.id}"
                    th:text="${user.nombre}">Seleccione un usuario</option>
        </select>
        <input type="text" th:field="*{id}" placeholder="ID del médico">
        <input type="text" th:field="*{especialidad}" placeholder="Especialidad">
        <input type="number" th:field="*{costo}" placeholder="Costo de consulta">
        <input type="text" th:field="*{localidad}" placeholder="Localidad">

        <label for="frecuencia">Frecuencia de citas:</label>
        <select id="frecuencia" th:field="*{frecuenciaCitas}">
            <option value="20">20 minutos</option>
            <option value="30">30 minutos</option>
            <option value="60">60 minutos</option>
        </select>

        <button type="submit">Guardar</button>
    </form>

</div>

<div class="footer">
    <div>Total Soft Inc.</div>
    <div class="social-icons">
        <img src="/images/twitter.png" alt="Twitter">
        <img src="/images/facebook.png" alt="Facebook">
        <img src="/images/instagram.png" alt="Instagram"/>
    </div>
    <div>©2019 Tsf, Inc.</div>
</div>

</body>
</html>
